# Database Configuration
MONGODB_URI=mongodb://localhost:27017/faculty_selection

# n8n Webhook Configuration
N8N_OTP_WEBHOOK_URL=https://n8n.akkilesh.in/webhook/09a82832-d37e-4159-b374-38d042bc97fb

# Server Configuration
PORT=5000

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:3000
